# Final PPQ1--Hypothesis-Test-with-Permutations

In this problem you will be looking at automobile data from vintage cars from the 70s and 80s. In particular you are going to be looking at the engine displacement. If you consider the origin column of the data it has the value 1, 2 or 3. Cars with origin 1 come from America. Cars with origin 2 europe and with origin 3 Japan. Gas prices in Japan tend to be much higher then in the US and the country is more dense. We might expect Japanese cars to be smaller with smaller displacement. Also Americans are rumoured to like big cars. You will be testing the hypothsis that in this period, american cars had a statistically significantly bigger displacement.

In [7]:
#import the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#import libraries as per requirement

Ellipsis

## Load data and filter
Using the data set from above, extract and split the data where origin is 1 and 3. Extract that the displacement and origin columns. And pick only those rows origin having values 1 or 3: https://bit.ly/autompgcsv

In [10]:
cars_df = pd.read_csv("https://bit.ly/autompgcsv")
cars_df.head()

# Remember to extract the origin and displacement columns

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [19]:
df1 = cars_df[(cars_df.origin == 1)]
df2= cars_df[(cars_df.origin == 3)]
new = [df1, df2]
new_df = pd.concat(new)
new_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [21]:
df = new_df.drop(['mpg','cylinders','horsepower','weight','model year','car name','acceleration'], axis=1)
df.head()

   displacement  origin
0         307.0       1
1         350.0       1
2         318.0       1
3         304.0       1
4         302.0       1

## Compute the group difference

Now you want to compute the observed difference between the mean displacement of cars from the US (origin 1) and Japan (origin 2).

In [22]:
observed_means_difference =

NameError: name 'mean' is not defined

## Write a function to compute a permutation difference

To perform the permuation test recall you you are going to shuffle the origin labels. A similar way to do this is to count how many origin 1 cars and how many origin 3. We can shuffle the displacements and just take the first rows corresponding to the number of origin 1 cars and assume they are from origin 1. Similarly the rest here are consdired origin 3 (for the simulation) and the means are computed as before. Write a function that does this once and returns the simulated mean difference of the groups.

In [ ]:
def one_simulated_difference(...,...):
    shuffled_labels = ....sample(frac=1, replace=False, ignore_index=True)[...]
    origin_1_simulated_mean = ...
    origin_2_simulated_mean = ...
    return ...

### Compute 10,000 simulated differences

To great a list of null hypothesis means_differences you are going use your function to create simulated differences of means, for 10,000 times and put those simulated differences in a list.

In [ ]:
num_repetitions = ...
differences = ...
for i in np.arange(num_repetitions):
    new_difference = one_simulated_difference(...)
    differences = np.append(..., ...)

### Here you are going to plot a histogram of null-hopothisis means

Be very careful with what you give matplotlib. Rember for a histogram to make sense it needs to be a 1-D array of the simulated differences. If it has a more complex shape you probably did something wrong. Don't just pass it to the matplotlib histogram function and hope for the best.

## Did Americans realy love their big cars?

Compute the percentage of data in shuffled differences which are greater then the observed differnces(p value) and check if p< 0.05? Is it true?

In [1]:
rubric="""* 05pts Using the data set from above, extract and split the data where origin is 1 and 3. Extract that column(with values 1 and 3) and displacement
* 05pts Compute the difference in means on two columns. 
* 05pts Shuffle the rows and compute the mean of first num_group_a and then first num_group_b and compute the mean.
* 05pts Take the difference and append to make a list of null hypothesis means.
* 05pt Plot a histogram of Prediction of Null Hypothesis.
* 05pt Compute the percentage of data in shuffled differences which are greater then the observed differnces(p value) and check if p> 0.05?
"""
thing = sum([int(line[2:4]) for line in rubric.split('\n') if line])
print(thing)

30